<% _.each(contracts, function (item, key) { %>
<li>
	<div class="item-header clearfix">
		<span class="call-shop" item-index="<%= key %>">联系</span>
		<h3 class="ico-group"><%= item.accountName %></h3>
	</div>

	<div class="line"></div>

	<div class="item-body">
		<dl class="clearfix">
			<dt>路|线|段：</dt>
			<dd><%= item.contractNumber %></dd>
		</dl>

		<dl class="clearfix">
			<dt>流水号：</dt>
			<dd><%= item.serialNumber %></dd>
		</dl>
		<dl class="clearfix">
			<dt>设备名：</dt>
			<dd><%= item.registerName %></dd>
		</dl>
	</div>
</li>
<% }) %>
