<dl class="clearfix">
	<dt>
		正常设备数
	</dt>
	<dd>
		<div>
			<div class="left onlineDealGroup" >
				<span><%= percentage.onlineDealGroup %><em>%</em></span>
			</div>
			<span class="right"><%= count.onlineDealGroup %></span>
		</div>
	</dd>
</dl>
<dl class="clearfix">
	<dt>
		正常里程
	</dt>
	<dd>
		<div>
			<div class="left onlineKABAccount">
				<span><%= percentage.onlineKABAccount %><em>%</em></span>
			</div>
			<span class="right"><%= count.onlineKABAccount %></span>
		</div>
	</dd>
</dl>
<dl class="clearfix">
	<dt>
		作业预算
	</dt>
	<dd>
		<div>
			<div class="left salesIncome">
				<span><%= percentage.salesIncome %><em>%</em></span>
			</div>
			<span class="right"><%= count.salesIncome %></span>
		</div>
	</dd>
</dl>
<dl class="clearfix">
	<dt>
		大修设备数
	</dt>
	<dd>
		<div>
			<div class="left newDealGroup">
				<span><%= percentage.newDealGroup %><em>%</em></span>
			</div>
			<span class="right"><%= count.newDealGroup %></span>
		</div>
	</dd>
</dl>
