<div class="turnover team-amount">
    <h2>
        全路无故障日
        <b>
            <%= percentage.teamAmount + '%' %>
        </b>
    </h2>
    <b>
        <%= count.teamAmount %>
    </b>
</div>

<div class="turnover personal-completeness">
    <h2>
        个人维护设备数
        <b>
            <%= percentage.salesAmount + '%' %>
        </b>
    </h2>
</div>

<div class="turnover personal-amount">
    <b>
        <%= count.salesAmount %>
    </b>
</div>


<div class="outer-annulus">
</div>
<div class="outer-annulus-progress-container">
    <div class="outer-annulus-progress-container-inner">
        <div class="outer-annulus-progress">
        </div>
    </div>
</div>

<div class="inner-annulus">
</div>


<div class="inner-annulus-progress-container">
    <div class="inner-annulus-progress-container-inner">
        <div class="inner-annulus-progress"></div>
    </div>
</div>
