<div class="select-date">
	<div class="select-date-picker clearfix">
		<div class="select-date-year">
			<div class="add">+</div>
			<div class="visit-data"><%= date.getFullYear()%>年</div>
			<div class="minus">-</div>
		</div>
		<div class="select-date-month">
			<div class="add">+</div>
			<div class="visit-data"><%= date.getMonth() + 1%>月</div>
			<div class="minus">-</div>
		</div>
		<div class="select-date-day">
			<div class="add">+</div>
			<div class="visit-data"><%= date.getDate()%>日</div>
			<div class="minus">-</div>
		</div>
	</div>
	<div class="select-date-ok">确 定</div>
</div>