<div class="title">设置</div>
<div class="subhead">当前信息</div>
<div class="parameter">
	<dl data-type="currentLogin">
		<dt>登录用户</dt>
		<dd><span class="currentLogin">扳道工 陈宫</span></dd>
	</dl>
	<dl data-type="appVersion">
		<dt>应用版本</dt>
		<dd><span class="appVersion">v1.1</span></dd>
	</dl>
</div>

<div class="subhead">指标</div>
<div class="parameter">
	<dl data-type="salesAmount">
		<dt>个人作业数</dt>
		<dd><span class="salesAmount"><%= salesAmount %></span></dd>
	</dl>
	<dl data-type="teamAmount">
		<dt>段内作业数</dt>
		<dd><span class="teamAmount"><%= teamAmount %></span></dd>
	</dl>
</div>
<div class="subhead">参考指标</div>
<div class="parameter">
	<dl data-type="onlineDealGroup">
		<dt>营运设备数</dt>
		<dd><span class="onlineDealGroup"><%= onlineDealGroup %></span></dd>
	</dl>
	<dl data-type="onlineKABAccount">
		<dt>营运线|段|里程数</dt>
		<dd><span class="onlineKABAccount"><%= onlineKABAccount %></span></dd>
	</dl>
	<dl data-type="salesIncome">
		<dt>预算</dt>
		<dd><span class="salesIncome"><%= salesIncome %></span></dd>
	</dl>
	<dl data-type="newDealGroup">
		<dt>大修设备数</dt>
		<dd><span class="newDealGroup"><%= newDealGroup %></span></dd>
	</dl>
</div>
<div class="return"><a href="index">返回</a></div>