* {
  padding: 0px;
  margin: 0px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-backface-visibility: hidden;
}
body {
  font-family: normal 100% '微软雅黑', '黑体';
  background-color: #fafafa;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}

body {
  background-color: #e6e6e6;
}
/** header **/
header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
header ol {
  width: 100%;
  float: left;
  border-bottom: 1px solid #ccc;
}
header ol li {
  float: left;
  width: 22%;
  height: 3em;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
}
header ol li a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 1.2em;
  margin: 0 0.2em;
  padding: 0.7em;
  color: #a6a6a6;
}
header ol li.new {
  background-image: url(../img/new.png);
  background-repeat: no-repeat;
  background-position: right top;
}
header ol li.settings {
  width: 12%;
  border-left: 1px solid #ccc;
  background: url(../img/settings.png) no-repeat center center;
  background-size: 2em 2em;
}
header ol li.active {
  border-bottom: 0.25em solid #EA9710;
}
header ol li.active a {
  color: #EA9710;
}
header ol li.settings.active {
  border-bottom: 1px solid #ccc;
}
header .title-back-container {
  border-bottom: 1px solid #cccccc;
}
header .title-back-container h1.name,
header .title-back-container .back-pointer,
header .title-back-container .save-btn {
  font-size: 1.2em;
  padding: 0.7em 0;
  text-align: center;
}
header .title-back-container h1.name {
  color: #737373;
  margin-left: 2.5em;
  margin-right: 3em;
}
header .title-back-container .back-pointer {
  display: block;
  box-sizing: border-box;
  width: 2.5em;
  float: left;
  border-right: 1px solid #cccccc;
  color: #a6a6a6;
}
header .title-back-container .save-btn {
  display: block;
  box-sizing: border-box;
  width: 3em;
  float: right;
  text-align: center;
  border-left: 1px solid #cccccc;
}
header .title-back-container .disable {
  background-color: #f2f2f2;
  color: #e6e6e6;
}
/** module container **/
.module-container {
  position: absolute;
  z-index: 1;
  bottom: 48px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 0;
  background-color: #fafafa;
  overflow: auto;
  -webkit-transform: translate3d(0, 0, 0);
}
.module-container .module-scroller {
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 0;
  background-color: #fafafa;
}
/** loading **/
.loading-popup {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 25%;
  max-width: 100px;
  height: 1.6em;
  background-color: #ffffff;
  border-radius: 1em;
  line-height: 1.5em;
  z-index: 3;
  padding: 0.1px 0.3px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
#cache-update {
  text-align: center;
  font-size: 0.7em;
}
#cache-update span:first-child {
  color: #999;
  margin-right: 0.4em;
}
#cache-update .pull-down-loading {
  display: inline-block;
  width: 16px;
  margin: 0;
}
/** footer **/
footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.tab {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
}
.list-tab {
  margin: 0 auto;
  border-top: 1px solid #d9d9d9;
}
.list-tab li {
  float: left;
  -webkit-box-sizing: border-box;
  border-left: 1px solid #e6e6e6;
  background-color: #fff;
  cursor: pointer;
  height: 3em;
  box-sizing: border-box;
}
.list-tab li.w-2 {
  width: 49.5%;
}
.list-tab li.w-3 {
  width: 33.33333%;
}
.list-tab li span {
  display: block;
  text-align: center;
}
.list-tab li .num {
  font-size: 1.5em;
  font-family: 'Arial';
  padding-bottom: 0.1em;
  color: #a6a6a6;
}
.list-tab li .red {
  color: #ff717d;
}
.list-tab li .status {
  color: #999999;
  font-size: 0.6em;
}
.list-tab li.active {
  background-color: #e6e6e6;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.list-tab li.rejected.active .num {
  color: #ff717d;
}
.list-tab li.inproduction.active .num,
.list-tab li.inapproval.active .num {
  color: #4AA3D1;
}
.list-tab li.online.active .num,
.list-tab li.approved.active .num {
  color: #EA9710;
}
.list-tab li.rejected.active .num.gray,
.list-tab li.inproduction.active .num.gray,
.list-tab li.inapproval.active .num.gray,
.list-tab li.online.active .num.gray,
.list-tab li.approved.active .num.gray {
  color: #a6a6a6;
}
.list-tab li:first-child {
  border-left: none;
}
.list-tab li:last-child {
  border-right: none;
}
/** detail list **/
.detail-list {
  padding: 0.5em;
}
.detail-list li {
  background-color: #fff;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.item-header {
  padding: 0em 1em;
  max-width: 100%;
}
.item-header h3 {
  min-width: 5em;
  max-height: 2.2em;
  font-size: 1.2em;
  color: #363636;
  overflow: hidden;
  padding: 1em 0 0.8em 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.call-shop {
  float: right;
  display: block;
  min-width: 5em;
  text-align: right;
  padding: 1em 0 0.8em 0;
  background: url(../img/phone.png) no-repeat 0.8em 1.1em;
  background-size: 0.9em 1em;
  box-sizing: border-box;
}
.call-shop:before {
  content: '|';
  color: #dddddd;
  padding-right: 2em;
  box-sizing: border-box;
}
.line {
  width: 100%;
  height: 0;
  border-top: 1px solid #e5e5e5;
}
.item-body {
  margin: 1em 1em 0 1em;
}
.item-body dl dt,
.item-body dl dd {
  display: inline-block;
  color: #999999;
  padding: 0.3em 0.2em 0.3em 0;
  line-height: 1.5em;
  font-family: 'Arial';
}
.item-body dt {
  width: 6.2em;
  float: left;
}
.item-body dd {
  max-width: 60%;
}
.item-body .rejector dt {
  /*color: #e04533;*/

}
.item-body .rejector dd {
  color: #000000;
}
.item-body .approver dd {
  color: #000000;
}
.item-body .reject-reason {
  width: 100%;
  padding: 1em 0;
  margin: 0em auto;
  color: #ff717d;
  font-size: 1em;
  line-height: 1.5em;
}
/** home **/
.banner {
  width: 100%;
  height: 200px;
  position: relative;
  background: url(../img/banner.png) no-repeat left center;
  background-size: 100% 100%;
  overflow: hidden;
}
.banner a {
  position: absolute;
  width: 100%;
  color: #ffffff;
  text-align: center;
  padding-top: 120px;
  font-size: 1.2em;
  font-family: 'Arial';
  font-weight: bold;
  text-shadow: -1px 2px 3px #888888;
}
/** home summary **/
.data {
  width: 100%;
  box-sizing: border-box;
  background-color: #f2f2f2;
  padding: 2em 1em 0.1em 1em;
}
.summary {
  width: 49%;
  float: left;
}
.summary a {
  color: #000000;
}
.pass-summary {
  margin-left: 6%;
  margin-bottom: 30px;
}
.pass-summary dt {
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
}
.pass-summary dt .extral-tag {
  display: block;
  height: 1.5em;
}
.pass-summary dd {
  font-size: 2.2em;
  font-family: 'Arial';
  color: #3a992d;
  font-weight: bold;
  overflow: hidden;
}
.other-summary {
  width: 43%;
  float: left;
  margin-left: 6%;
  margin-top: 15px;
}
.other-summary dt {
  font-size: 1em;
}
.other-summary dd {
  font-size: 1.6em;
  font-family: 'Arial';
  font-weight: bold;
  overflow: hidden;
}
.reject-num {
  color: #9e0b0f;
}
.wait-num {
  color: #0072bc;
}
/** line **/
.vertical-line {
  width: 0;
  border-left: 1px solid #dadbdd;
  border-right: 1px solid #ffffff;
}
.vertical-line-h170 {
  height: 170px;
}
.horizontal-line {
  height: 0;
  border-top: 1px solid #dadbdd;
  border-bottom: 1px solid #ffffff;
}
.horizontal-line-wmax {
  width: 100%;
}
.vertical-line-h40 {
  height: 40px;
  margin: 15px 0;
}
/** mask **/
.mask {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.5;
}
/** contact list **/
.contact-container {
  position: absolute;
  z-index: 5;
  width: 70%;
  left: 15%;
  padding: 1em 0 2em 0;
  background-color: #fefefe;
  border: 2px solid #dddddd;
  border-radius: 5px;
}
.contact-container h4 {
  text-align: center;
  margin-bottom: 1em;
  color: #737373;
}
.contact-container .contact-scroller {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  max-height: 11em;
  overflow: auto;
}
.contact-container .contact-scroller .contact-list {
  width: 98%;
  margin: 0 auto;
}
.contact-container .contact-scroller .contact-list li {
  border-top: 1px solid #dedede;
  padding: 0.2em 0.1em;
  margin-bottom: 0.5em;
  overflow: hidden;
}
.contact-container .contact-scroller .contact-list li a {
  display: block;
  float: left;
  color: #000000;
  height: 2.5em;
  line-height: 2.5em;
  width: 100%;
}
.contact-container .contact-scroller .contact-list li a .name {
  float: left;
  width: 45%;
  height: 100%;
  padding-left: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #EA9710;
}
.contact-container .contact-scroller .contact-list li a .tel {
  padding-left: 0.3em;
  font-weight: bolder;
  color: #737373;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.contact-container span.close {
  display: block;
  position: absolute;
  text-align: center;
  color: #EA9710;
  bottom: 0;
  width: 100%;
  font-weight: bold;
  padding: 0.5em 0;
}
/** float **/
.left {
  float: left;
}
.right {
  float: right;
}
/** order online view **/
.online-order h3 {
  position: relative;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #e5e5e5;
  cursor: default;
}
.online-order h3 .product-title {
  display: block;
  padding: 1em 0 0.8em 1em;
  box-sizing: border-box;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50%;
}
.online-order h3 .product-amount {
  display: block;
  position: absolute;
  padding: 1em 0 0.8em;
  top: 0;
  right: 2em;
  width: 4.5em;
  box-sizing: border-box;
  color: #EA9710;
  font-family: 'Arial';
}
.online-order h3 .arrow {
  display: block;
  position: absolute;
  top: 1em;
  right: 1em;
  box-sizing: border-box;
  width: 0.5em;
  height: 0.5em;
  margin-top: 0.25em;
  border-left: 2px solid #cccccc;
  border-top: 2px solid #cccccc;
}
.online-order .product-description {
  padding: 0 1em;
  line-height: 1.5em;
  color: #a6a6a6;
}
.online-order .product-detail {
  display: -webkit-box;
}
.online-order .product-detail .online-left,
.online-order .product-detail .online-right {
  -webkit-box-flex: 1;
  box-sizing: border-box;
  padding: 0 1em;
  margin-top: 1em;
  font-size: 13px;
  color: #a6a6a6;
}
.online-order .product-detail .online-left dl,
.online-order .product-detail .online-right dl {
  display: block;
  margin-bottom: 0.5em;
}
.online-order .product-detail .online-left dl dt,
.online-order .product-detail .online-right dl dt {
  display: inline-block;
}
.online-order .product-detail .online-left dl dd,
.online-order .product-detail .online-right dl dd {
  display: inline-block;
  float: right;
  color: #EA9710;
}
.online-order .product-detail .online-right {
  border-left: 1px solid #e5e5e5;
}
#pullUp,
.pull-up {
  padding: 0.5em 1em 2em;
  text-align: center;
}
.pull-down-loading {
  background: url('../img/loading.gif') no-repeat center center;
  height: 11px;
  margin: 5px;
}
/** 环形报表 **/
.annulus-container {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.annulus-container .turnover {
  position: absolute;
  width: 100%;
  text-align: center;
}
.annulus-container .turnover h2 {
  font-size: 1em;
  color: #999999;
}
.annulus-container .turnover h2 b {
  font-size: 1em;
  font-family: "Arial";
  font-weight: normal;
  color: #0ab9a2;
}
.annulus-container .turnover b {
  font-family: "Arial";
  font-weight: normal;
}
.annulus-container .team-amount {
  top: 1.8em;
  z-index: 1;
}
.annulus-container .team-amount b {
  font-size: 1.5em;
  color: #0ab9a2;
}
.annulus-container .personal-completeness {
  top: 5.8em;
  z-index: 1;
}
.annulus-container .personal-completeness h2 b {
  display: block;
  font-size: 2.5em;
  color: #ea9710;
}
.annulus-container .personal-amount {
  bottom: 0;
  z-index: 1;
}
.annulus-container .personal-amount b {
  font-size: 3.6em;
  color: #ea9710;
}
.annulus-container .outer-annulus,
.annulus-container .outer-annulus-progress {
  position: absolute;
}
.annulus-container .outer-annulus {
  border-style: solid;
  border-color: #f1f1f1;
  box-shadow: 0 0 0 1px #dfdfdf, 0 0 0 1px #ffffff inset;
}
.annulus-container .outer-annulus-progress-container {
  position: absolute;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-animation: bounceInOuter 2s 1s ease both;
}
@-webkit-keyframes bounceInOuter {
  
}
.annulus-container .outer-annulus-progress-container .outer-annulus-progress-container-inner {
  background-color: #c7fbf4;
  height: 200%;
}
.annulus-container .outer-annulus-progress-container .outer-annulus-progress-container-inner .outer-annulus-progress {
  background-color: #fafafa;
}
.annulus-container .inner-annulus,
.annulus-container .inner-annulus-progress {
  position: absolute;
}
.annulus-container .inner-annulus {
  border-style: solid;
  border-color: #f1f1f1;
  box-shadow: 0 0 0 1px #dfdfdf, 0 0 0 1px #ffffff inset;
}
.annulus-container .inner-annulus-progress-container {
  position: absolute;
  -webkit-animation: bounceInInner 2s 1s ease both;
  overflow: hidden;
}
.annulus-container .inner-annulus-progress-container .inner-annulus-progress-container-inner {
  background-color: #fff0d7;
  height: 200%;
}
.annulus-container .inner-annulus-progress-container .inner-annulus-progress-container-inner .inner-annulus-progress {
  background-color: #fafafa;
}
@-webkit-keyframes bounceInInner {
  
}
/** index histogram **/
.histogram {
  margin: 1em 0.5em 0.5em;
  background-color: #fafafa;
}
.histogram dl {
  display: block;
  line-height: 2em;
  margin: 0.25em 0em;
}
.histogram dt {
  display: inline-block;
  width: 35%;
  font-size: 1em;
  color: #999;
  float: left;
}
.histogram dd {
  display: inline-block;
  width: 65%;
  float: left;
}
.histogram dd > div {
  position: relative;
  background-color: #f1f1f1;
  height: 1.8em;
  padding-right: 0.3em;
  box-shadow: -0.1em 0.1em 0.2em #d7d7d7 inset;
  border-bottom: 1px solid #fff;
}
.histogram div.left {
  position: absolute;
  background-color: #C6ECFF;
  width: 70%;
  height: 1.8em;
  float: left;
  box-shadow: -0.1em 0.1em 0.1em #8dcbea;
}
.histogram span {
  height: 1.45em;
  line-height: 1.45em;
  font-family: 'Arial';
  font-size: 1.2em;
  color: #8DCBEA;
  padding-left: 0.3em;
}
.histogram span em {
  font-size: 0.8em;
}
.histogram div.left span {
  float: left;
}
.histogram span.right {
  position: relative;
  float: right;
}
.histogram dd.overflow > div {
  background-color: #C6ECFF;
  box-shadow: -0.1em 0.1em 0.1em #8dcbea;
  border-bottom: 1px solid #8DCBEA;
}
.histogram dd.overflow div.left {
  width: 40%;
  background-color: #A0DDFB;
  box-shadow: -0.1em 0.1em 0.1em #6ebce5;
}
.histogram dd.overflow span {
  color: #4AA3D1;
}
/** Visit Create **/
.select-status {
  position: absolute;
  z-index: 1000;
  left: 15%;
  width: 70%;
  background-color: #fff;
}
.select-status ul {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.select-status ul li {
  border-bottom: 1px solid #cccccc;
  text-align: center;
  padding: 0.8em 0px;
  color: #A5A5A5;
  font-size: 1.2em;
}
.select-casetype {
  position: absolute;
  z-index: 1000;
  left: 15%;
  width: 70%;
  background-color: #fff;
}
.select-casetype ul {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.select-casetype ul li {
  border-bottom: 1px solid #cccccc;
  text-align: center;
  padding: 0.8em 0px;
  color: #A5A5A5;
  font-size: 1.2em;
}
.input-casemile {
  position: absolute;
  z-index: 1000;
  left: 15%;
  width: 70%;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;  
}
.input-casemile .select-casemile-ok {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  font-size: 1.5em;
  color: #ea9710;
  text-align: center;
  padding: 0.5em 0.5em;
}
.input-casemile-num {
  font-size: 1.2em;
}
.select-date {
  position: absolute;
  z-index: 1000;
  left: 15%;
  width: 70%;
  background-color: #fff;
  border-bottom: 1px solid #cccccc;
}
.select-date .select-date-picker,
.select-date .select-date-ok {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
.select-date .select-date-picker .select-date-year,
.select-date .select-date-picker .select-date-month,
.select-date .select-date-picker .select-date-day {
  border: 1px solid #d9d9d9;
  float: left;
  width: 25%;
  margin: 10px 2.8%;
}
.select-date .select-date-picker .select-date-year div,
.select-date .select-date-picker .select-date-month div,
.select-date .select-date-picker .select-date-day div {
  text-align: center;
  padding: 0.5em 0.5em;
  color: #666666;
}
.select-date .select-date-picker .select-date-year .add,
.select-date .select-date-picker .select-date-month .add,
.select-date .select-date-picker .select-date-day .add,
.select-date .select-date-picker .select-date-year .minus,
.select-date .select-date-picker .select-date-month .minus,
.select-date .select-date-picker .select-date-day .minus {
  background-color: #f2f2f2;
  color: #a6a6a6;
  font-size: 1em;
}
.select-date .select-date-picker .select-date-year .visit-data,
.select-date .select-date-picker .select-date-month .visit-data,
.select-date .select-date-picker .select-date-day .visit-data {
  font-size: 0.9em;
}
.select-date .select-date-picker .select-date-year {
  width: 30%;
}
.select-date .select-date-ok {
  font-size: 1.5em;
  color: #ea9710;
  text-align: center;
  padding: 0.5em 0.5em;
}
.select-date .disable-select-date-ok {
  background-color: #f2f2f2;
  color: #e6e6e6;
}
.required:after {
  content: ' *';
  color: #ff9900;
}
.visits-create {
  margin: 0.5em 0.5em;
}
.visits-create .subhead {
  color: #A5A5A5;
  margin: 0.8em 0em 0.4em 0.5em;
  font-weight: bold;
}
.visits-create .textarea {
  margin: 0 0.3em 0 0.3em;
  position: relative;
}
.visits-create .textarea textarea {
  position: relative;
  width: 100%;
  border: 1px solid #BBBBBB;
  font-size: 1em;
}
.visits-create .partner-head {
  float: left;
  display: block;
  box-sizing: border-box;
}
.visits-create .select-input .partner-name {
  background-image: url(../img/ren-unselected.png);
  background-repeat: no-repeat;
  background-position: 1em 0.8em;
  background-size: 21px 21px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding-left: 3em;
  margin-left: 4.7em;
  margin-right: 4em;
  height: 3em;
  line-height: 3em;
  font-size: 0.95em;
  color: #737373;
}
.visits-create .select-input .partner-name.selected {
  background-image: url(../img/ren-selected.png);
}
.visits-create .select-input .visit-mate-edit {
  display: block;
  box-sizing: border-box;
  float: right;
  text-align: center;
  width: 3.2em;
  height: 3em;
  line-height: 3em;
  color: #737373;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  margin: 0 0.3em 0 0;
}
.visits-create .select-input .hidden-partner {
  font-size: 0.8em;
}
.visits-create .select-span {
  margin: 0 0.3em;
}
.visits-create .select-span span {
  border: 1px solid #e6e6e6;
  background-image: url(../img/not-select.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #fff;
  padding: 10px 5px;
  display: inline-block;
  color: #737373;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 0.95em;
}
.visits-create .select-span span.selected {
  border: 1px solid #ea9710;
  background-image: url(../img/select.png);
}
.visits-create .select-marketspan {
  width: 100%;
  margin-bottom: 1em;
}
.visits-create .select-marketspan .container {
  width: 18%;
  box-sizing: border-box;
  float: left;
  margin-right: 2%;
  background-color: #ffffff;
  padding: 5px 0 0;
}
.visits-create .select-marketspan .container span {
  display: block;
  width: 100%;
  color: #737373;
  text-align: center;
  background-color: #e6e6e6;
  margin-top: 5px;
  padding-top: 5px;
}
.visits-create .select-marketspan .container .img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;
  background-color: #ffffff;
}
.visits-create .select-marketspan .container .icon-demo {
  background-image: url(../img/icon-demo.png);
}
.visits-create .select-marketspan .container .icon-report {
  background-image: url(../img/icon-report.png);
}
.visits-create .select-marketspan .container .icon-solution {
  background-image: url(../img/icon-solution.png);
}
.visits-create .select-marketspan .container .icon-toolspackage {
  background-image: url(../img/icon-toolspackage.png);
}
.visits-create .select-marketspan .container .icon-windflag {
  background-image: url(../img/icon-windflag.png);
}
.visits-create .select-marketspan .container:last-child {
  margin-right: 0;
}
.visits-create .select-marketspan .container.active .icon-demo,
.visits-create .select-marketspan .container.active .icon-report,
.visits-create .select-marketspan .container.active .icon-solution,
.visits-create .select-marketspan .container.active .icon-toolspackage,
.visits-create .select-marketspan .container.active .icon-windflag {
  background-position: center -48px;
}


.visits-create .select-caseimagespan {
  margin: 1em 0.3em 1em 0.3em;
}
.visits-create .select-caseimagespan .container {
  width: 50%;
  box-sizing: border-box;
  border-radius: 6px;
  margin-bottom: 0.3em;
  float: left;
  background-color: #ffffff;
}
.visits-create .select-caseimagespan .container span {
  display: block;
  width: 100%;
  color: #737373;
  text-align: center;
  background-color: #e6e6e6;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.visits-create .select-caseimagespan .container .img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;
  background-color: #ffffff;
}
.visits-create .select-caseimagespan .container .icon-demo {
  background-image: url(../img/icon-demo.png);
}
.visits-create .select-caseimagespan .caseimage{
  width: 100%;
  height: 200px;
  display: block;
}

.visits-create .parameter {
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 6px;
  margin: 0 0.3em 0 0.3em;
}
.visits-create .parameter dl {
  display: block;
  border-bottom: 1px solid #BBBBBB;
  padding: 0.8em;
  font-family: 'Arial';
}
.visits-create .parameter dl dt {
  display: inline-block;
  width: 30%;
  color: #737373;
  font-size: 1em;
  font-weight: bold;
}
.visits-create .parameter dl dd {
  display: inline-block;
  float: right;
  width: 65%;
  font-size: 1em;
  color: #737373;
}
.visits-create .parameter dl dd .shop-name,
.visits-create .parameter dl dd .case-mile,
.visits-create .parameter dl dd .partner-name {
  max-width: 90%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.visits-create .parameter dl dd span {
  float: right;
}
.visits-create .parameter dl dd span .array {
  font-size: 1em;
  font-weight: bolder;
  margin-left: 0.2em;
}
.visits-create .visit-type-edit dd {
  position: relative;
  top: -0.4em;
}
.visits-create .visit-type-edit dd span:first-child {
  margin-right: 0;
}
/** setting **/
.setting {
  margin: 0.5em 0.5em;
  background-color: #fafafa;
}
.setting .title {
  width: 100%;
  text-align: center;
  margin: 0.7em 0 0em 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #737373;
}
.setting .subhead {
  color: #A5A5A5;
  margin: 0.8em 0em 0.4em 0.5em;
  font-weight: bold;
}
.setting .parameter {
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 6px;
  margin: 0 0.3em 0 0.3em;
}
.setting .parameter dl {
  display: block;
  border-bottom: 1px solid #BBBBBB;
  padding: 0.8em;
  font-weight: bold;
  font-family: 'Arial';
}
.setting .parameter dl:last-child {
  border-bottom: none;
}
.setting .parameter dl dt {
  display: inline-block;
  width: 45%;
  color: #737373;
  font-size: 1em;
}
.setting .parameter dl dd {
  display: inline-block;
  float: right;
  width: 45%;
  font-size: 1em;
  color: #EA9710;
}
.setting .parameter dl dd span {
  float: right;
}
.setting .parameter dl dd span.not-set {
  font-size: 1em;
  color: #B3B3B3;
}
.return {
  position: relative;
  margin: 1em 0.3em;
  font-size: 1em;
  text-align: center;
  background-color: #EA9710;
  border-radius: 4px;
}
.return a {
  display: block;
  padding: 0.8em 0;
  font-weight: bold;
  color: #fff;
}
/* Blank View */
.blank {
  text-align: center;
  color: #a6a6a6;
  margin-top: 2em;
  padding: 8em 2em 0;
  font-size: 1em;
  line-height: 1.5em;
  background: url(../img/blank.png) no-repeat center center;
  background-size: 5em 5em;
}
/**
 * 开发中
 */
.deving {
  text-align: center;
  color: #ff6600;
  margin-top: 2em;
  padding: 6em 2em 0;
  font-size: 1.2em;
  line-height: 1.5em;
}
/**
 * quota edit overlay
 */
.quota-edit-container {
  position: absolute;
  z-index: 5;
  width: 70%;
  left: 15%;
  background-color: #f8f8f8;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.quota-edit-container h2 {
  font-size: 1.2em;
  color: #737373;
  text-align: center;
  padding: 1em 0;
}
.quota-edit-container .quota-input {
  display: block;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #d5d5d5;
  background-color: #ffffff;
  height: 2.5em;
  font-size: 1.2em;
  padding: 0 0.5em;
  color: #737373;
}
.quota-edit-container .btn-pair {
  margin: 1.5em 0 0;
  border-top: 1px solid #d5d5d5;
  padding: 0 2%;
}
.quota-edit-container .btn-pair button {
  color: #EA9710;
  font-size: 1.2em;
  background-color: #f8f8f8;
  border: none;
  padding: 0.5em 1em;
  width: 48%;
}
.quota-edit-container .btn-pair button:first-child {
  border-right: 1px solid #d5d5d5;
}
/* Visit */
.visit-metric {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
}
.visit-metric dl:first-child {
  border-right: 1px solid #d5d5d5;
}
.visit-metric dl {
  padding-left: 1em;
  float: left;
  width: 50%;
  box-sizing: border-box;
  height: 2em;
  line-height: 2em;
}
.visit-metric dl dt {
  float: left;
}
.visit-metric dl dd {
  color: #999999;
}
.visit-metric dl dd h3 {
  display: inline;
  color: #0ab9a2;
}
.visit-metric dl .small {
  font-size: 0.8em;
  position: relative;
  bottom: 0.3em;
}
.visit-metric dl dd h3 {
  font-size: 1.3em;
}
.visit-metric dt h3 {
  color: #737373;
}
.visit-today dl:first-child {
  padding-left: 1em;
  float: left;
  width: 70%;
  box-sizing: border-box;
  height: 2em;
  line-height: 2em;
}
.visit-today dl:first-child dt {
  float: left;
}
.visit-today dl:first-child dd {
  color: #999999;
}
.visit-today dl:first-child dd h3 {
  display: inline;
  color: #0ab9a2;
}
.visit-today dl:first-child .small {
  font-size: 0.8em;
  position: relative;
  bottom: 0.3em;
}
.visit-today dl:first-child dd h3 {
  font-weight: normal;
  color: #a3a3a3;
}
.visit-today dl:first-child + dl {
  padding-left: 1em;
  float: left;
  width: 30%;
  box-sizing: border-box;
  height: 2em;
  line-height: 2em;
  padding-right: 1em;
}
.visit-today dl:first-child + dl dt {
  float: left;
}
.visit-today dl:first-child + dl dd {
  color: #999999;
}
.visit-today dl:first-child + dl dd h3 {
  display: inline;
  color: #0ab9a2;
}
.visit-today dl:first-child + dl .small {
  font-size: 0.8em;
  position: relative;
  bottom: 0.3em;
}
.visit-today dl:first-child + dl dd {
  float: right;
}
.visit-today dl:first-child + dl dd h3 {
  font-size: 1.3em;
}
.visit-today dl:first-child + dl .red {
  color: #ff717d;
}
.visit-today dt h3 {
  color: #737373;
}
.visit-add {
  position: absolute;
  left: 1em;
  bottom: 1em;
  z-index: 2;
  /*.visit-add-outer {
        .visit-add-circle(3em);
        border: 1px solid #d5d5d5;
        background-color: white;

        .visit-add-inner {
            .visit-add-circle(2.5em);
            background-color: orange;
            top: 0.25em;
            left: 0.25em;
            position: relative;

            div {
                font-family: Arial;
                position: relative;
                top: -0.1em;
                left: 0.23em;
                font-size: 2.5em;
                color: white;
            }
        }
    }*/

}
.visit-add .visit-add-ico {
  font-size: 2.5em;
  font-weight: bolder;
  width: 1em;
  height: 1em;
  line-height: 1em;
  border-radius: 1em;
  background-color: #ff9900;
  border: 5px solid #ffffff;
  text-align: center;
  color: #ffffff;
}
.visit-add-img img {
  max-width: 100%;
  max-height: 100%;
}
/** visit list **/
.visit-list {
  padding: 0.5em;
}
.visit-list li {
  background-color: #fff;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.visit-status {
  float: right;
  display: block;
  min-width: 5em;
  text-align: right;
  padding: 1.25em 0 0.8em 0;
  color: #737373;
}
.iconframe {
  display: inline-block;
  margin-right: 0.1em;
  margin-left: 0.1em;
  padding: 0 0.25em;
  color: white;
}
.bigiconframe {
  display: inline-block;
  margin-right: 0.8em;
  /*margin-left: 0.4em;*/

  padding: 0.15em 0.25em;
  color: white;
  font-size: 1.2em;
  border: 1px solid;
}
.bigiconframe.not-selected {
  color: #e6e6e6;
  border-color: #e6e6e6;
}
.chuang01-icon.not-selected,
.chuang02-icon.not-selected,
.chuang03-icon.not-selected,
.chuang04-icon.not-selected,
.gui01-icon.not-selected,
.gui02-icon.not-selected,
.gui03-icon.not-selected,
.gui04-icon.not-selected,
.gui05-icon.not-selected,
.gui06-icon.not-selected,
.gui07-icon.not-selected,
.gui08-icon.not-selected,
.gui09-icon.not-selected,
.gui10-icon.not-selected,
.gui11-icon.not-selected,
.gui12-icon.not-selected,
.gui13-icon.not-selected,
.gui14-icon.not-selected,
.gui15-icon.not-selected,
.gui16-icon.not-selected,
.kou01-icon.not-selected,
.kou02-icon.not-selected,
.kou03-icon.not-selected,
.ji01-icon.not-selected,
.ji02-icon.not-selected,
.ji03-icon.not-selected,
.ji04-icon.not-selected {
  background-color: #FFFFFF;
}

.chuang01-icon:before {
  content: "道床板结";
}
.chuang02-icon:before {
  content: "道床粉碎";
}
.chuang03-icon:before {
  content: "轨道板开裂";
}
.chuang04-icon:before {
  content: "轨道板离缝";
}

.iconframe.chuang01-icon,
.bigiconframe.chuang01-icon.selected,
.iconframe.chuang02-icon,
.bigiconframe.chuang02-icon.selected,
.iconframe.chuang03-icon,
.bigiconframe.chuang03-icon.selected,
.iconframe.chuang04-icon,
.bigiconframe.chuang04-icon.selected {
  background-color: #FF717D;
  border-color: #FF717D;
}

.gui01-icon:before {
  content: "钢轨波磨";
}
.gui02-icon:before {
  content: "低接头";
}
.gui03-icon:before {
  content: "轨头剥离";
}
.gui04-icon:before {
  content: "轨头横向裂纹";
}
.gui05-icon:before {
  content: "轨头纵向裂纹";
}
.gui06-icon:before {
  content: "轨头表面压陷";
}
.gui07-icon:before {
  content: "轨腰伤损";
}
.gui08-icon:before {
  content: "轨底伤损";
}
.gui09-icon:before {
  content: "钢轨折断";
}
.gui10-icon:before {
  content: "钢轨锈蚀";
}
.gui11-icon:before {
  content: "钢轨磨耗";
}
.gui12-icon:before {
  content: "轨头扁疤";
}
.gui13-icon:before {
  content: "钢轨侧磨";
}
.gui14-icon:before {
  content: "钢轨垂磨";
}
.gui15-icon:before {
  content: "光带不良";
}
.gui16-icon:before {
  content: "钢轨的其它伤损";
}

.iconframe.gui01-icon,
.bigiconframe.gui01-icon.selected,
.iconframe.gui02-icon,
.bigiconframe.gui02-icon.selected,
.iconframe.gui03-icon,
.bigiconframe.gui03-icon.selected,
.iconframe.gui04-icon,
.bigiconframe.gui04-icon.selected,
.iconframe.gui05-icon,
.bigiconframe.gui05-icon.selected,
.iconframe.gui06-icon,
.bigiconframe.gui06-icon.selected,
.iconframe.gui07-icon,
.bigiconframe.gui07-icon.selected,
.iconframe.gui08-icon,
.bigiconframe.gui08-icon.selected,
.iconframe.gui09-icon,
.bigiconframe.gui09-icon.selected,
.iconframe.gui10-icon,
.bigiconframe.gui10-icon.selected,
.iconframe.gui11-icon,
.bigiconframe.gui11-icon.selected,
.iconframe.gui12-icon,
.bigiconframe.gui12-icon.selected,
.iconframe.gui13-icon,
.bigiconframe.gui13-icon.selected,
.iconframe.gui14-icon,
.bigiconframe.gui14-icon.selected,
.iconframe.gui15-icon,
.bigiconframe.gui15-icon.selected,
.iconframe.gui16-icon,
.bigiconframe.gui16-icon.selected {
  background-color: #6EBCE5;
  border-color: #6EBCE5;
}

.kou01-icon:before {
  content: "扣压力衰减";
}
.kou02-icon:before {
  content: "螺帽丢失";
}
.kou03-icon:before {
  content: "扣件断裂";
}
.iconframe.kou01-icon,
.bigiconframe.kou01-icon.selected,
.iconframe.kou02-icon,
.bigiconframe.kou02-icon.selected,
.iconframe.kou03-icon,
.bigiconframe.kou03-icon.selected {
  background-color: #0AB9A2;
  border-color: #0AB9A2;
}

.ji01-icon:before {
  content: "路基沉降";
}
.ji02-icon:before {
  content: "路基隆起";
}
.ji03-icon:before {
  content: "路基坍塌";
}
.ji04-icon:before {
  content: "翻浆冒泥";
}
.iconframe.ji01-icon,
.bigiconframe.ji01-icon.selected, 
.iconframe.ji02-icon,
.bigiconframe.ji02-icon.selected,
.iconframe.ji03-icon,
.bigiconframe.ji03-icon.selected,
.iconframe.ji04-icon,
.bigiconframe.ji04-icon.selected {
  background-color: #ECA027;
  border-color: #ECA027;
}
/** shop search **/
.shop-search-container .search-field {
  height: 3em;
  background-color: #ffffff;
}
.shop-search-container .search-field input {
  color: #737373;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 1.5em;
  line-height: 100%;
  padding: 0 1.8em 0 0.5em;
  border: none;
}
.shop-search-container .search-field .clear {
  font-family: Arial;
  position: absolute;
  top: 0.7em;
  right: 0.5em;
  z-index: 5;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0.2em;
  border-radius: 1.5em;
  text-align: center;
  background-color: #a6a6a6;
  color: #ffffff;
}
.shop-search-container .history-search-list li {
  height: 3em;
  border-bottom: 1px solid #d9d9d9;
}
.shop-search-container .history-search-list li span {
  display: block;
  line-height: 3em;
  color: #737373;
  padding: 0 0.5em;
}
.shop-search-container .no-record-desc {
  color: #a5a5a5;
  text-align: center;
  height: 3em;
  line-height: 3em;
}
.service-container {
  padding: 0.5em;
}
.service-container .service-title {
  padding: 0.5em 0;
  color: #a5a5a5;
}
.service-container .service-list {
  margin-bottom: 0.5em;
}
.service-container .service-list li {
  float: left;
  padding: 0.8em 1em;
  background-color: #ffffff;
  color: #666666;
  border: 1px solid #cccccc;
  margin-right: 5px;
}
.service-container .service-list li.active {
  background-color: #f2f2f2;
}
.service-container .service-sort-container {
  margin-top: -2em;
}
.service-container .service-sort-container .order-view {
  height: 2em;
  line-height: 2em;
  width: 12em;
  padding: 0 0.4em;
  box-sizing: border-box;
  background: linear-gradient(to right, #ea9710, #0bb9a2);
  background: -webkit-gradient(linear, left top, right top, from(#ea9710), to(#0bb9a2));
  -webkit-transform-origin: 0 2em;
  -webkit-transform: rotate(90deg);
}
.service-container .service-sort-container .order-view:before {
  float: left;
  content: "高";
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
}
.service-container .service-sort-container .order-view:after {
  float: right;
  content: "低";
  color: #ffffff;
  -webkit-transform: rotate(-90deg);
}
.service-container .service-sort-container .order-list {
  margin-left: 2.5em;
  border: 1px solid #bbbbbb;
  box-sizing: border-box;
  height: 12em;
  overflow: hidden;
}
.service-container .service-sort-container .order-list li {
  box-sizing: border-box;
  height: 3em;
  line-height: 3em;
  padding-left: 0.5em;
  border-bottom: 1px solid #bbbbbb;
  background-color: #ffffff;
  clear: both;
}
.service-container .service-sort-container .order-list li .close {
  float: right;
  width: 3em;
  text-align: center;
  height: 100%;
}
.service-container .service-sort-container .order-list li .close:before {
  font-family: Arial;
  content: "x";
}
.service-container .service-sort-container .order-list li:last-child {
  border-bottom: none;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* 大屏幕 */
/* 平板电脑和小屏电脑之间的分辨率 */
/* 横向放置的手机和竖向放置的平板之间的分辨率 */
/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 320px) {
  .annulus-container {
    font-size: 13px;
  }
}
